@import '../../styles/common.scss';

.blog-list {
    .heading-advertise {
        height: 10vh;
        background-color: $ad-color;
        margin-left: 30%;  
        margin-right: 30%;  
    }
    &__container {
        margin-top: 30px;
        .heading-text {
            font-size: 3rem;
            font-weight: 300;
            line-height: 1.2;
            padding-left: 1.5em;
        }
        .advertise {
            background-color: $ad-color;
        }
        .lead {
            padding-left: 4em;
        }
        .card-margin {
            margin-left: 1.5em;
            margin-bottom: 1.5em;
        }
        .card-title {
            font-weight: 600;
            font-size: 20px;
        }
    }
}