.root .cover-image {
  background: url(2d7f8a7c122a62f114d7ff488d862c96.jpg) 0 -624px;
  width: 100%;
  height: 20vh; }

.landing-page .heading-advertise {
  height: 10vh;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%; }

.landing-page__container {
  margin-top: 30px;
  width: 100%; }
  .landing-page__container .welcome-text {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 1em; }
  .landing-page__container .advertise {
    background-color: white; }
  .landing-page__container .lead {
    padding-left: 4em; }
  .landing-page__container .card-margin {
    margin-left: 1.5em;
    margin-bottom: 1.5em; }
  .landing-page__container .card-title {
    font-weight: 600;
    font-size: 20px; }

.blog-list .heading-advertise {
  height: 10vh;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%; }

.blog-list__container {
  margin-top: 30px; }
  .blog-list__container .heading-text {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 1.5em; }
  .blog-list__container .advertise {
    background-color: white; }
  .blog-list__container .lead {
    padding-left: 4em; }
  .blog-list__container .card-margin {
    margin-left: 1.5em;
    margin-bottom: 1.5em; }
  .blog-list__container .card-title {
    font-weight: 600;
    font-size: 20px; }

.categories-page .heading-advertise {
  height: 10vh;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%; }

.categories-page__container {
  margin-top: 30px; }
  .categories-page__container .heading-text {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 1.5em; }
  .categories-page__container .advertise {
    background-color: white; }
  .categories-page__container .lead {
    padding-left: 4em; }
  .categories-page__container .card-margin {
    margin-left: 1.5em;
    margin-bottom: 1.5em; }
  .categories-page__container .card-title {
    font-weight: 600;
    font-size: 20px; }

.blog-page .heading-advertise {
  height: 10vh;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%; }

.blog-page__container {
  margin-top: 30px; }
  .blog-page__container .heading-text {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 1.5em; }
  .blog-page__container .advertise {
    background-color: white; }
  .blog-page__container .lead {
    padding-left: 6em;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
    font-size: 16px; }
  .blog-page__container .contents {
    margin-right: 1em;
    margin-left: 1em;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em; }
    .blog-page__container .contents > div {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em; }
    .blog-page__container .contents .main-heading {
      font-size: 30px;
      font-weight: 600; }
    .blog-page__container .contents .sub-heading {
      font-size: 24px;
      font-weight: 600; }
    .blog-page__container .contents .code-section {
      background: rgba(0, 0, 0, 0.05);
      padding: 20px;
      white-space: pre-wrap; }


/*# sourceMappingURL=main.css.map*/